<tr>
   <td><%= user.username %></td>
  	<td><%= user.email %></td>
  	<td>
  		<% if user.player == nil %>
  			Ingen spiller
  		<% else %>
  			<%= link_to(user.player.name, user.player) %>
 		<% end %> 
  	</td>
   <td>
      <%= link_to 'Godkend', :controller => 'users', :id => user.id, :method => :accept_user
         %>
   </td>
</tr>