<% provide(:title, 'Administrator') %>
<h1>Administrator</h1>
<h3>Brugere der afventer godkendelse 
	<%= '(' + @pending_users.count.to_s() + ')' unless @pending_users.count == 0 %>
</h3>

<table class="table table-striped">
	<tr>
		<th>Brugernavn</th>
		<th>Email</th>
		<th>Spiller</th>
	</tr>
	<% @pending_users.each do |user| %>
   		<%= render 'pending_user_row', :user => user %>	
  	<% end %>
</table>

<h3>Alle brugere <%= '(' + @valid_users.count.to_s() + ')' unless @valid_users.count == 0 %>
</h3>