<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  <h1>Nulstilling af password</h1>
    <p>Hej <%= @user.username %>,</p>

<% if @user.player %>
<p>Klik på det følgende link for at oprette et nyt password.</p>

<%= edit_password_reset_url(@user.reset_token) %>

<p>Hvis du ikke har bedt om at få nulstillet dit password kan du blot ignorere denne email og dit password vil forblive uændret.</p>

<p>Du kan ikke svare på denne mail. Har du spørgsmål kan du kontakte <a href="mailto:daniel@snooker.dk">daniel@snooker.dk</a>.</p>
<% end %>
  </body>
</html>