<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  <h1>Tilmelding til <%= @tournament.name %></h1>
    <p>Hej <%= @user.username %>,</p>

<p>Du er nu tilmeldt til <%= @tournament.name %>.</p>
<p>Husk at deadline for afmelding er <%= @tournament.deadline %></p>
<p>Fra reglementet:</p>
<h2>5.8. Dresscode</h2>
<p>5.8.1.  Der stilles til enhver turnering op i følgende påklædning:</p>
<ul>
<li>Mørke Habitbukser. Kvinder kan stille op i mørk nederdel</li>
<li>Ensfarvet, langærmet skjorte</li>
<li>Vest (Der gives dispensation fra vest for nye spillere i deres første to turneringer)</li>
<li>Dress sko</li>
</ul>
<p>Såfremt en spillers påbegynder en kamp uden at dennes påklædning lever op til ovenstående krav, skal spilleren dømmes som taber af kampen. Afgørelsen, om hvorvidt en spillers påklædning lever op til ovenstående krav, træffes i fællesskab af de tilstedeværende snookerudvalgsmedlemmer.</p>
  </body>
</html>