<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  <h1>Afmelding af <%= @tournament.name %></h1>
    <p>Hej <%= @user.username %>,</p>

<p>Du er nu afmeldt fra <%= @tournament.name %>.</p>
<p>Husk at deadline for tilmelding er <%= @tournament.deadline %></p>

  </body>
</html>