<% provide(:title, 'Administrator') %>
<h1>Administrer brugere</h1>


<% if @pending_users.count > 0 %>
<h3>Brugere der afventer godkendelse 
	<%= '(' + @pending_users.count.to_s() + ')' unless @pending_users.count == 0 %>
</h3>
<table class="table table-striped">
	<tr>
		<th>Brugernavn</th>
		<th>Email</th>
		<th>Spiller</th>
		<th></th>
	</tr>
	<% @pending_users.each do |user| %>
   		<%= render 'pending_user_row', :user => user %>	
  	<% end %>
</table>
<% end %>

<h3>Alle brugere <%= '(' + @valid_users.count.to_s() + ')' unless @valid_users.count == 0 %>
</h3>

<table class="table table-striped">
	<tr>
		<th>Brugernavn</th>
		<th>Email</th>
		<th>Spiller</th>
		<th>Rolle</th>
		<th></th>
	</tr>
	<% @valid_users.each do |user| %>
   		<%= render 'valid_user_row', :user => user %>	
  	<% end %>
</table>