<% provide(:title, 'Opret bruger') %>

<div class="row">
  <div class="span6 offset1">
    <p>Det er ikke længere muligt at oprette brugere på snooker.dk</p>
    <p>Hvis du ønsker at tilmelde dig til vores turneringer skal du gå ind på <a href="http://spiller.ddbu-admin.dk/?m=36">http://spiller.ddbu-admin.dk/?m=36</a> og tilmede dig med dit licensnr. Du kan få dit licensnr. oplyst fra turneringslederen i din klub.</p>
  </div>
</div>