<%  player = info[:player] 
	btn_size = info[:btn] 
	form_class = info[:form] %>
<%= form_for(player.enter.find_by(tournament_id: @tournament.id),
	html: { :class => "#{form_class}", method: :delete }) do |f| %>
	<div><%= f.hidden_field :tournament_id %></div>
	<div><%= f.hidden_field :player_id %></div>
<%= f.submit "Afmeld", class: "btn #{btn_size}" %>
<% end %>