<% provide(:title, 'Turneringer') %>
<h3>Kommende turneringer</h3>
	<table class="table table-striped table-condensed table-bordered">
	<thead>
		<th>Navn</th>
		<th>Tilmeldingsfrist</th>
		<th>Startdato</th>
		<th># Spillere</th>
		<% if signed_in? %>
		<th>Tilmeldt</th>
		<% end %>
	</thead>
	<% @tournaments.each do |tournament| %>
   		<%= render 'tournament_row', :info => { :tournament => tournament, :can_finish => false } %>	
  	<% end %>
</table>