<% provide(:title, 'Rangliste') %>
<h1>Rangliste</h1>

<ul class="players">
  <% @players.each do |player| %>
    <li>      
      <%= link_to player.name, player %>, <%= player.club.name %>, <%= player.ranking_points %>
    </li>    
  <% end %>
</ul>
